.slider {
    overflow: hidden;
    width: 1350px;
    height: 500px;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: 18s slider infinite;
}
.slider figure img{
    height: 500px;
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    125%{
        left: -400%;
    }
    150%{
        left: -500%;
    }
}
header{ 
    height: 200px ;
    width: 100%;
    background-color:white;
    float: none;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    
}

content{
    margin-left: 10px;
    margin-bottom: 20px;
}
.sp{
    text-shadow: 3px 2px #dbe9ff;
}
nav{
    background-color: white;
    color: rgb(99, 129, 168);
    text-align: center;
    margin: 15px -8px;
}
.top-right{
    position:absolute;
    top:0px;
    right:115px;
    border-bottom-left-radius: 30px;
    padding-top: 25px;
}
nav a {
    margin: 0 5px;
    text-decoration: none;
    color: rgb(9, 43, 87) ;
}
.top-right a:hover{
    background-color: rgb(176, 203, 238);
}
nav a:hover{
    background-color:rgb(122, 190, 221);
}
nav>ul>li>a{
    display: block;
    text-decoration: none;
    font-size: larger;
    color: rgb(10, 43, 58);
    padding: 0 50px;
    line-height: 40px;
}
nav ul li:hover>ul{
    display: block;}
nav>ul>li{
    display: inline-block;
    position: relative;
}
nav ul ul{
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 158px;
    background-color: white;
    box-shadow: 0 0 1px rgb(150, 192, 211);
}
nav ul li ul li {
    list-style: none;
    padding: 0px 0px;
    background:#69aee7;
    border-bottom: solid 1px rgba(186, 222, 253, 0.911);
    margin: 0;
    display: block;
    text-align: left;
}
nav ul li ul li a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
nav ul li ul{
    display: none;
    position: absolute;
}
.class:hover{
    box-shadow: 0 4px 8px 0 rgba(78, 94, 104, 0.678), 0 6px 20px 0 rgba(94, 110, 124, 0.479);
}
.column{
    width: 30%;
    float: left;
    padding: 22px;
}

.product-list{
    margin-left: 50px;
    margin-right: -50px;
    
}

.sanpham{
    border-radius:10px;
    box-shadow: 0.1px 0px 0.1px 0.1px rgba(220, 239, 248, 0.856);
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: -12px;
    text-align:center;
    
}

.sanpham .ten{ 
    font-style:oblique ;
    font-size:larger;
     color:rgb(17, 41, 63);
    }
    
.sanpham img{
     max-width:95%;
} 
.sanpham .gia{
    font-weight:bold; 
    margin-right: 15px;
    margin-left: 100px;
    float: left;
    width: 70px;
}
.hinhne{box-shadow: 0 4px 8px 0 rgba(169, 236, 245, 0.856), 0 6px 20px 0 rgba(170, 89, 13, 0.19);}
.width_common {
    width: 100%;
    float: right;
    background-color: #bee1f5;
    border-top: 3px solid #83c4dd;
    padding: 0px 5px;
}